<div class="col-sm-4 portfolio-item">
  <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-3x"></i>
      </div>
    </div>
    <%= image_tag portfolio.image_path, class: "img-responsive" %>
    <!-- <img src="img/portfolio/cabin.png" class="img-responsive" alt=""> -->
  </a>
</div>
